.privacy-wrapper {
    width: $rootWidth;
    padding: 25px 0px 60px 0px;
       margin: auto;
       .title {
           font-size: 20px;
           margin: 20px 0px;
       }
       .content {
           font-size: 16px;
           line-height: 25px;
           font-family: 'Montserrat-Light';
           
           p {
               margin: 10px 0px;
           }
       }
}